{% extends 'redfruit/base.html' %}

{% load static %}

{% block title %}How It Works - RedFruit{% endblock %}

{% block styles %}
<link href="{% static 'redfruit/css/styles.css' %}?v=1.0" rel="stylesheet" />
<link href="{% static 'redfruit/css/overview.css' %}?v=1.0" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="overview-container">
  <div class="title-container"><h1 class="website-name">Redfruit: Overview</h1></div>
  <div class="overview-paragraph">
    <p>Our deep learning model classifies apples and tomatoes using a CNN trained with PyTorch. It processes images, learns distinguishing features, and ensures accurate predictions. Real-time detection is achieved through advanced image processing techniques, making it versatile for various applications. This model is optimized for efficiency, ensuring rapid and accurate classification. It can be a reference in making a bigger and more reliable system for the future of the agricultural industry.</p>
  </div>

</div>

  


{% endblock %}