{% extends 'redfruit/base.html' %}

{% load static %}

{% block title %}Discover - RedFruit{% endblock %}

{% block styles %}
<link href="{% static 'redfruit/css/styles.css' %}?v=1.0" rel="stylesheet" />
<link href="{% static 'redfruit/css/discover.css' %}?v=1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}

<div class="welcome-container">
  <h1 class="welcome-text">
    Welcome to RedFruit: AI
  </h1>
  <p class="welcome-description">
    Redfruit Classifier, an AI-powered web application designed to accurately distinguish between red fruits like apples and tomatoes using deep learning. Our cutting-edge model leverages advanced neural networks to analyze images and classify them with high precision. Whether you're a researcher, a farmer, or simply curious about fruit identification, our platform provides a seamless and efficient way to differentiate between these visually similar fruits. Experience the power of artificial intelligence in fruit classification—fast, reliable, and easy to use.
  </p>
</div>



<div class="reason-container">
  <div class="reason-content">
    <h1 id="title-why">Why This Project?</h1>
    <p>This project showcases the power of AI in image recognition and demonstrates how machine learning can be used such as food identification. The possibility of applying such technology in agricultural industry from a simple algorithm to a powerful systems.</p>
  </div>
</div>

<div class="dummy-space"></div>
  
<div class="technologies-container">
  <div class='row align-items-center' id="technology-cards">

    <button class="arrow-btn prev-screen">
      <i class="fas fa-chevron-left" id="left-button"></i>
    </button>
    


    <div class="walkthrough show reveal">
      <div class="walkthrough-pagination">
        <a class="dot active"></a>
        <a class="dot"></a>
        <a class="dot"></a>
        <a class="dot"></a>
        <a class="dot"></a>
      </div>
      <div class="walkthrough-body">
        <ul class="screens animate">
          <li class="screen active">
            <div class="media logo">
              <div class="python-logo">
                <img class="blue-snake" src="{% static 'redfruit/assets/img/logos/blue-snake.png' %}" alt="Python">
                <img class="yellow-snake" src="{% static 'redfruit/assets/img/logos/yellow-snake.png' %}" alt="Python">
              </div>
            </div>
            <h3>
              Python
            </h3>
            <p>Python is a simple and versatile programming language. It is widely used for web development, data analysis, and machine learning. Its readability and large library ecosystem make it a favorite among developers.</p>
          </li>
          <li class="screen">
            <div class="media books">
              <div class="opencv-logo">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-up.png' %}" alt="OpenCV">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-left.png' %}" alt="OpenCV">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-right.png' %}" alt="OpenCV">
              </div>
            </div>
            <h3>
              OpenCV
            </h3>
            <p>OpenCV is a library for computer vision tasks. It provides tools for image and video processing, such as object detection and face recognition, and is widely used in robotics and medical imaging.</p>
          </li>
          <li class="screen">
            <div class="media bars">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/bar_icon_axis.png" alt="Bar Icon Axis">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/bar_icon_3.png" alt="Bar Icon 3">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/bar_icon_2.png" alt="Bar Icon 2">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/bar_icon_1.png" alt="Bar Icon 1">
            </div>
            <h3>
              Pytorch
            </h3>
            <p>PyTorch is a flexible tool for building machine learning models. It supports dynamic changes during execution and is popular in research and industries like computer vision and natural language processing.</p>
          </li>
          <li class="screen">
            <div class="media files">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/file_icon_1.png" alt="File Icon 1">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/file_icon_2.png" alt="File Icon 2">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/file_icon_3.png" alt="File Icon 3">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/file_icon_4.png" alt="File Icon 4">
            </div>
            <h3>
              Django
            </h3>
            <p>Django is a Python framework for fast and secure web development. It includes features like authentication and database management, helping developers build scalable websites quickly and efficiently.</p>
          </li>
          <li class="screen">
            <div class="media comm">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/comm_icon_1.png" alt="Comm Icon 1">
              <img class="icon" src="https://s3.amazonaws.com/jebbles-codepen/comm_icon_2.png" alt="Comm Icon 2">
            </div>
            <h3>
              Bootstrap
            </h3>
            <p>Bootstrap is a front-end framework for creating responsive websites. It offers pre-built components and a grid system to ensure designs adapt well to different screen sizes, making it ideal for modern web interfaces.</p>
          </li>
        </ul>
        
        </div>
      </div>
    <button class="arrow-btn next-screen">
      <i class="fas fa-chevron-right" id="right-button"></i>
    </button>
  </div>
</div>



<div class="extra-info">
  <h2>Technologies Used</h2>
  <ul>
      <li><strong>Machine Learning Framework:</strong> PyTorch / TensorFlow</li>
      <li><strong>Computer Vision:</strong> OpenCV / PIL</li>
      <li><strong>Frontend:</strong> React / Flutter (if applicable)</li>
      <li><strong>Backend:</strong> Flask / FastAPI / Django (if applicable)</li>
  </ul>

  <h2>Future Enhancements</h2>
  <ul>
      <li>Support for more fruit types (e.g., yellow or green fruits)</li>
      <li>Improved accuracy with a larger dataset</li>
      <li>Integration with a nutrition tracking system</li>
  </ul>



</div>

<h1> Datasets</h1>
<p>Consist of apples and tomatoes image</p>



<div class='dataset-container'>
  <div class="slider" style="
    --width: calc(100vw - 2rem);
    --height: 300px;
    --quantity: 4;
    ">
    <div class="list">
      <div class="item" style="--position: 1"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato1.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 2"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato2.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 3"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato3.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 4"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato4.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 5"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato5.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 6"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato6.jpeg' %}" alt="Tomato Image"></div>
      <div class="item" style="--position: 7"><img src="{% static 'redfruit/assets/img/sample_apple/apple1.jpg' %}" alt="Apple Image"></div>
      <div class="item" style="--position: 8"><img src="{% static 'redfruit/assets/img/sample_apple/apple2.jpeg' %}" alt="Apple Image"></div>
      <div class="item" style="--position: 9"><img src="{% static 'redfruit/assets/img/sample_apple/apple3.jpeg' %}" alt="Apple Image"></div>
      <div class="item" style="--position: 10"><img src="{% static 'redfruit/assets/img/sample_apple/apple4.jpeg' %}" alt="Apple Image"></div>
      <div class="item" style="--position: 11"><img src="{% static 'redfruit/assets/img/sample_apple/apple5.jpeg' %}" alt="Apple Image"></div>
      <div class="item" style="--position: 12"><img src="{% static 'redfruit/assets/img/sample_apple/apple6.jpeg' %}" alt="Apple Image"></div>
    </div>
  </div>
 
</div>






    <h2>Who Built This?</h2>
    <p>This project was developed by <strong>Jan Carlo Galinat</strong>, an AI enthusiast passionate about machine learning, image recognition, and real-world AI applications.</p>
<!-- <img src="{% static 'redfruit/assets/img/sample_apple/apple6.jpeg' %}" alt="Apple Image"> -->

{% endblock %}
