{% extends 'redfruit/base.html' %}

{% load static %}

{% block title %}About Redfruit{% endblock %}

{% block styles %}
<link href="{% static 'redfruit/css/styles.css' %}?v=1.0" rel="stylesheet" />
<link href="{% static 'redfruit/css/discover.css' %}?v=1.0" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}
{% block content %}

<div class="welcome-container">
  <h1 class="welcome-text">
    Welcome to RedFruit: AI
  </h1>
  <p class="welcome-description">
    Redfruit Classifier, an AI-powered web application designed to accurately distinguish between red fruits like apples and tomatoes using deep learning. Our cutting-edge model leverages advanced neural networks to analyze images and classify them with high precision. This platform provides a demonstration on how our system especially the algorithm would differentiate between these visually similar fruits. Experience the power of artificial intelligence in fruit classification—fast, reliable, and easy to use.
  </p>
</div>



<div class="reason-container">
  <div class="reason-content">
    <h1 id="title-why">Why This Project?</h1>
    <p>This project showcases the power of AI in image recognition and demonstrates how machine learning can be used such as food identification. The possibility of applying such technology in agricultural industry from a simple algorithm to a powerful systems.</p>
  </div>
</div>

<div class="dummy-space"></div>

<div class="technologies-used-text-container">
  <h1 class="tech-text">Technologies and Frameworks</h1>
</div>



<div class="technologies-container">

  <div class='row align-items-center' id="technology-cards">

    <button class="arrow-btn prev-screen">
      <i class="fas fa-chevron-left" id="left-button"></i>
    </button>
    


    <div class="walkthrough show reveal">
      <div class="walkthrough-pagination">
        <a class="dot active"></a>
        <a class="dot"></a>
        <a class="dot"></a>
        <a class="dot"></a>
        <a class="dot"></a>
      </div>
      <div class="walkthrough-body">
        <ul class="screens animate">
          <li class="screen active">
            <div class="media logo">
              <div class="python-logo">
                <img class="blue-snake" src="{% static 'redfruit/assets/img/logos/blue-snake.png' %}" alt="Python">
                <img class="yellow-snake" src="{% static 'redfruit/assets/img/logos/yellow-snake.png' %}" alt="Python">
              </div>
            </div>
            <h3>
              Python
            </h3>
            <p>Python is a simple and versatile programming language. It is widely used for web development, data analysis, and machine learning. Its readability and large library ecosystem make it a favorite among developers.</p>
          </li>
          <li class="screen">
            <div class="media books">
              <div class="opencv-logo">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-up.png' %}" alt="OpenCV">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-left.png' %}" alt="OpenCV">
                <img class="cv" src="{% static 'redfruit/assets/img/logos/opencv-right.png' %}" alt="OpenCV">
              </div>
            </div>
            <h3>
              OpenCV
            </h3>
            <p>OpenCV is a library for computer vision tasks. It provides tools for image and video processing, such as object detection and face recognition, and is widely used in robotics and medical imaging.</p>
          </li>
          <li class="screen">
            <div class="media bars">
              <div class="pytorch-logo">
                <img class="pytorch" src="{% static 'redfruit/assets/img/logos/pytorch.png' %}" alt="Pytorch">
              </div>
            </div>
            <h3>
              Pytorch
            </h3>
            <p>PyTorch is a flexible tool for building machine learning models. It supports dynamic changes during execution and is popular in research and industries like computer vision and natural language processing.</p>
          </li>
          <li class="screen">
            <div class="media files">

              <img class="d-django" src="{% static 'redfruit/assets/img/logos/d-django.png' %}" alt="Django">
              <img class="j-django" src="{% static 'redfruit/assets/img/logos/j-django.png' %}" alt="Django">

            </div>
            <h3>
              Django
            </h3>
            <p>Django is a Python framework for fast and secure web development. It includes features like authentication and database management, helping developers build scalable websites quickly and efficiently.</p>
          </li>
          <li class="screen">
            <div class="media comm">
              <div class="bootstrap-logo">
                  <img class="bootstrap" src="{% static 'redfruit/assets/img/logos/bootstrap.png' %}" alt="Bootstrap">
                  <img class="bootstrap" src="{% static 'redfruit/assets/img/logos/bootstrap2.png' %}" alt="Bootstrap">
                  <img class="bootstrap" src="{% static 'redfruit/assets/img/logos/bootstrap3.png' %}" alt="Bootstrap">
              </div>
            </div>
            <h3>
              Bootstrap
            </h3>
            <p>Bootstrap is a front-end framework for creating responsive websites. It offers pre-built components and a grid system to ensure designs adapt well to different screen sizes, making it ideal for modern web interfaces.</p>
          </li>
        </ul>
        
        </div>
      </div>
    <button class="arrow-btn next-screen">
      <i class="fas fa-chevron-right" id="right-button"></i>
    </button>
  </div>
</div>

<div class="recommendation-title-div">
  <h1 class="recommendation-title-text">
    Areas for Development
  </h1>

</div>

<div class="recommendations-info">
  <div class="row-container">
      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/different-fruits.jpg'%}" alt="Fruits">
        <div class="recommend-content">
          <div class="recommend-title">Add more Fruit Types</div>
          <p class="recommend-text">
            Support for more fruit types (e.g., yellow or green fruits)
          </p>
        </div>
    </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/th.jpg'%}" alt="Big Data">
        <div class="recommend-content">
          <div class="recommend-title">Larger Dataset</div>
          <p class="recommend-text">
            Improved accuracy with a larger dataset, could lead to better generalization.
          </p>
        </div>
      </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/model-architecture.png'%}" alt="Architecture">
        <div class="recommend-content">
          <div class="recommend-title">Improve Model Architecture</div>
          <p class="recommend-text">
            Create CNN Deeper Layers and experiment with Vision Transformers (ViTs) for better feature representation.
          </p>
        </div>
    </div>
  </div>

    <div class="row-container">
      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/apple-img.jpg'%}" alt="Apple">
        <div class="recommend-content">
          <div class="recommend-title">Avoid Biased Datasets</div>
          <p class="recommend-text">
            Ensure apples and tomatoes are not always photographed in the same conditions.
          </p>
        </div>
    </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/smartphone.jpg'%}" alt="smartphone">
        <div class="recommend-content">
          <div class="recommend-title">Test on Real-World Devices</div>
          <p class="recommend-text">
            If used in a mobile app, test the model with smartphone cameras in different lighting.
          </p>
        </div>
      </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/network.jpg'%}" alt="Network">
        <div class="recommend-content">
          <div class="recommend-title">Try different techniques</div>
          <p class="recommend-text">
            Try recent innovations such as introduction of GNN Classifiers, image preprocessing techniques, and more.
          </p>
        </div>
    </div>
  </div>

  <div class="row-container">
      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/fruits.jpg'%}" alt="Fruits">
        <div class="recommend-content">
          <div class="recommend-title"> Use Multi-Label Classification</div>
          <p class="recommend-text">
            Instead of only classifying apple vs. tomato, predict varieties (e.g., Fuji apple, Roma tomato).
          </p>
        </div>
    </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/learning.jpg'%}" alt="Learning">
        <div class="recommend-content">
          <div class="recommend-title">Enable Continuous Learning</div>
          <p class="recommend-text">
            Implement active learning where users label difficult cases for improvement.
          </p>
        </div>
      </div>

      <div class="recommend-card">
        <img class="recommend-image" src="{% static 'redfruit/assets/img/recommendations/decision-tree.jpg'%}" alt="Decision Tree">
        <div class="recommend-content">
          <div class="recommend-title">Use ensembling techniques</div>
          <p class="recommend-text">
            Use ensemble learning (combine multiple models) to improve classification robustness.
          </p>
        </div>
    </div>
  </div>
</div>


<div class="dummy-space" id="gradient-space">
    <h1 class="title" id="dataset_title"> Datasets</h1>
</div>

<div class="empty-space"></div>


<div class="displaying-dataset-container">
  <div class='dataset-container'>
    <div class="slider" style="
      --width: calc(100vw - 2rem);
      --height: 300px;
      --quantity: 4;
      ">
      <div class="list">
        <div class="item" style="--position: 1"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato1.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 2"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato2.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 3"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato3.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 4"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato4.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 5"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato5.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 6"><img src="{% static 'redfruit/assets/img/sample_tomato/tomato6.jpeg' %}" alt="Tomato Image"></div>
        <div class="item" style="--position: 7"><img src="{% static 'redfruit/assets/img/sample_apple/apple1.jpg' %}" alt="Apple Image"></div>
        <div class="item" style="--position: 8"><img src="{% static 'redfruit/assets/img/sample_apple/apple2.jpeg' %}" alt="Apple Image"></div>
        <div class="item" style="--position: 9"><img src="{% static 'redfruit/assets/img/sample_apple/apple3.jpeg' %}" alt="Apple Image"></div>
        <div class="item" style="--position: 10"><img src="{% static 'redfruit/assets/img/sample_apple/apple4.jpeg' %}" alt="Apple Image"></div>
        <div class="item" style="--position: 11"><img src="{% static 'redfruit/assets/img/sample_apple/apple5.jpeg' %}" alt="Apple Image"></div>
        <div class="item" style="--position: 12"><img src="{% static 'redfruit/assets/img/sample_apple/apple6.jpeg' %}" alt="Apple Image"></div>
      </div>
    </div>
  </div>
</div>


<div class="profile-section">
  <div class="row">
      <div class="column">
          <div class="image-content" ><img class="profile-pic" src="{% static 'redfruit/assets/img/me2.jpg' %}" alt="My Profile"></div>
          <strong class="name">Jan Carlo Galinato</strong>
          <h5 class="job-title"> Machine Learning Engineer</h5>
      </div>

      <div class="profile-description">
      <p>Python Developer and Machine Learning Engineer that is passionate about building and deploying projects such as python, flutter and pytorch projects.</p>
    </div>
  </div>

<!-- <img src="{% static 'redfruit/assets/img/sample_apple/apple6.jpeg' %}" alt="Apple Image"> -->
</div>
{% endblock %}
