body {
    background: linear-gradient(to left, #461220 20%, #b23a48 100%);
}


.curtain {
    overflow-y: auto;
}


.dataset-container{
    position: relative;
}

.slider {
    height:  var(--height);
    width: var(--width);
  
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to left,
        transparent,
        #000 5% 95%,
        transparent
    );
}


.slider .list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: autoRun 15s linear infinite;
    animation-delay: calc( (15s / var(--quantity)) * (var(--position) - 1)) !important;
}


.slider .list .item img{
    /*300px*/
    height: 400px;
    width: 600px;
    object-fit: cover;
    
}


@keyframes autoRun {
	from{
		right: 100%;
	}to{
		right: calc(var(--width) * -1);
	}
}




.welcome-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items:flex-start;   /* Centers content horizontally */
    margin: 60px;
    margin-bottom: 30px;
    padding-right: 100px;
    padding-top: 250px;
    }

.welcome-text {
    color: #fed0bb;
}

.welcome-description {
    color: #fed0bb;
}


.xtra-layer {
    height: 100vh;
    background: rgba(0, 0, 0, 0.65) url("/static/redfruit/assets/img/about-background.jpg");
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
}

#mainNav{
    box-shadow: none !important;
    background: transparent;
}

.nav-link{
    color: #fed0bb !important;
}

.navbar-brand{
    color: #fed0bb !important;
}

.reason-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers content vertically */
    align-items: center;   /* Centers content horizontally */
    text-align: center;
}

.reason-content {
    transform: scale(1);
    margin: 0 120px;
}

.reason-container h1{
    color: #fed0bb !important;
}

.reason-container p {
    color: #fed0bb !important;
}

.extra-info {
    height: 200%;
    width: 100vw;
    background-color: #fed0bb;
}

.dummy-space {
    height: 50vh;
}