{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Classification Upload</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'redfruit/css/ai_page.css' %}?v=1.0" rel="stylesheet" />
</head>
<body>
  <div class="container">
  <!-- Upload Container -->
    <div class="upload-container">
      <h1 class="upload_tag">Select a Picture</h1>
        <div class="mb-3">
            <div id="fileDropZone" class="file-drop">
                Drag & Drop Files or Click to Upload
                <input id="fileInput" class="custom-file-input" type="file" multiple>
            </div>
            <div id="file_item" class="file_item"></div>

        </div>
        <button id='submit-btn' class="button-33" type="submit">Upload</button>
    </div>
  </div>

  <div class="hover-container" id="blurOverlay">
    <div class="classification-container">
      <div class="content-container">
          <div class="row" id="contents">
            <!-- Image Section -->
            <div class="image-section">
                <img class="uploadedImage" alt="Uploaded Image">
            </div>

            <!-- Info Section -->
            <div class="info-section">
                <h1><strong>Classification Result</strong></h1>

                <!-- Filename -->
                <div class="result-item">
                    <strong>Filename:</strong>
                    <span id="filename">N/A</span>
                </div>

                <!-- Prediction -->
                <div class="result-item">
                    <strong>Prediction:</strong>
                    <span id="prediction">N/A</span>
                </div>

                <!-- Confidence -->
                <div class="result-item">
                    <strong>Confidence:</strong>
                    <span id="confidence">N/A</span>%
                </div>

                <!-- Error Message
                <div class="error-message" id="errorMessage" style="display: none;">
                    <strong>Error:</strong>
                    <span id="errorText"></span>
                </div>-->

                <!-- Close Button -->
                <button class="btn btn-secondary mt-3" id="closeModal">Close</button>
            </div>
          </div>
      </div>
  </div>
</div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'redfruit/js/ai_page_script.js' %}"></script>
</body>
</html>
